.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    &--red {
        background: $secondaryColor;
        color: $primaryColor;
        position: fixed;
        align-self: center;
        padding: 24px;
        bottom: 4vh;
        font-size: 1.8em;
        &:before,
        &:after {
            content: attr(data-text);
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            clip: rect(0, 0, 0, 0);
            background: $secondaryColor;
            color: $primaryColor;
        }
        &:after {
            left: 2px;
            text-shadow: -1px 0 black;
            box-shadow: -1px 0 black;
        }
        &:before {
            left: -2px;
            text-shadow: 2px 0 black;
            box-shadow: 2px 0 black;
        }

    }
}
