.main-home
{
  @extend %fully-centralized-column;
  width: $full-size;
  height: 95%;

  .hackathon-logo
  {
    width: 30em;
  }

  .btn-subscribe
  {
    margin-top: 3%;
    cursor: pointer;
    padding: 2em 2.6em;
    color: $light-grey;
    background: $dark-pink;
    border: solid 1px $dark-pink;
    border-radius: 2px;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }

}
