.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &__list {
        display: flex;
        list-style: none;
        margin: 15px;
        &__item {
            // padding: 15px;
            text-transform: uppercase;
            &:first-child:after {
                content: '|';
                padding: 0 15px;
            }
        }
    }
}