@media screen and (max-device-width: 1440px){
  .head
  {
    .nav-container
    {
      .nav__item { font-size: .9em; }
    }
  }

  .main-home
  {
    .hackathon-logo {  width: 25em; }
    .btn-subscribe { padding: 1.5em 2.1em; }
  }
}

@media screen and (max-device-width: 1366px){
  .main-home
  {
    .hackathon-logo {  width: 20em; }
    .btn-subscribe { padding: 1em 1.6em; }
  }

  #sponsor
  {
    .sponsor-container
    {
      .sponsor__multiple-content
      {  width: 95%; }
    }
  }
}

@media screen and (max-device-width: 1280px){
  #sponsor
  {
    margin: 0 1%;
    .sponsor-container { width: 100%; }
  }
}

@media screen and(max-device-width: 1024px){
  #sponsor
  {
    .sponsor-container
    {
      .sponsor__multiple-content
      {
        height: 75%;
        width: 98%;
      }
    }
  }
}

@media screen and (max-device-width: 720px){
  #about
  {
    height: 85%;
  }
}


@media screen and (max-device-width: 480px){
  .head
  {
    background: rgba(0, 0, 0, .3);

    .header-logo
    {
      display: none;
    }

    .nav-container
    {
      padding: 2em 0;
      margin: 0 1%;

      .nav__item
      {
        font-size: 2em;
      }

    }
  }
    .main-home
  {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -5%;
     width: $full-size;

    .hackathon-logo {  width: $full-size; }
    .btn-subscribe
    {
      font-size: 2.8em;
      width: 70%;
      padding: 1.2em 0;
    }
  }


.div-scroll
{
  position: absolute;
  bottom: 3%;
  left: 50%;

  .scroll-link {
    font : normal 3em 20px/1 'Josefin Sans', sans-serif;
    .cylinder
    {
      top: 1%;
      left: 50%;
      width: 51px;
      height: 103px;
      margin-left: -15px;
    }
    .text-scroll { display: none; }
  }

  @-webkit-keyframes scrolling {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 80px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scrolling {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 80px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

  #about
  {
    height: 50%;
    .about-container{
      .right-side{
        .about-date{
          font-size: 3.3em;
        }
        .resume-about
        {
          margin-top: 2%;
          font-size: 1.8em;
        }
      }
    }
  }

  #contact
  {
    height: 65%;

    #googleMap
    {
      height: 70%;
    }

    .contact-container
    {
      margin-top: -5%;
      height: 40%;
      .social-container
      {
        .social-icon { width: 4.2em; }
      }
    }
  }

  #sponsor
{
  height: 50%;

  .sponsor-container
  {
    .sponsor__single-content
    {
      height: 35%;
      margin-top: 2%;

      .college-icon
      {
        width: 18em;
        //height: 7em;
        margin-top: 1%;
      }
    }

    .sponsor__multiple-content
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 75%;

      .multiple-content-container
      {
        .sponsor-items
        {
          width: 100%;
          height: 8em;
          .sponsor__icon
          {
            width: 10em;
            height: 4.6em;
            margin: .4em;
          }
        }
      }
    }
  }

}

  .sponsor-title
  {
    font-size: 1.8em;
  }

  footer { display: none;}
}
