#sponsor
{
  @extend %page;
  display: flex;
  justify-content: center;

  .sponsor-container
  {
    width: calc(100% - 100px);
    @extend %column;

    .sponsor__single-content
    {
      @extend %fully-centralized-column;
      height: 35%;
      border-bottom: solid 1px #eee;
      margin-top: 2%;

      .college-icon
      {
        width: 18em;
        //height: 7em;
        margin-top: 1%;
      }
    }

    .sponsor__multiple-content
    {
      @extend %center-row;
      justify-content: space-between;
      margin: auto;
      height: 55%;
      width: 40%;

      .multiple-content-container
      {
        @extend %fully-centralized-column;
        width: 100%;
        height: 85%;

        .sponsor-items
        {
          margin-top: 1.5%;
          height: 100%;

          ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
              display: flex;
              flex-direction: row;
            }
          }

          .sponsor__icon
          {
            width: 9em;
            //height: 3.6em;
            margin: .4em;
            &:hover{
              transition: .12s ease-in;
              opacity: .85;
            }
          }
        }
      }
    }
  }
}

.sponsor-title
{
  text-transform: uppercase;
  color: $cyan-blue;
  font-size: 1.5em;
  font-weight: 600;
}

.elevati
{
  width: 2.5em;
  height: 5.2em;
  margin-left: 3%;
}
