$primaryColor: white;
$secondaryColor: #B40505;
@import './components/mixins.scss';
@import './components/nav.scss';
@import './components/main.scss';
@import './components/btn.scss';
@import './components/modal.scss';

body {
    margin: 0;
    padding: 0;
    background: black;
    color: $primaryColor;
    font-family: 'Helvetica', 'Arial', sans-serif;
}