// utilitys
@import './utils/variables.scss';
@import './utils/placeholders.scss';
@import './utils/mixins.scss';

//components
@import './components/loading.scss';
@import './components/header.scss';
@import './components/main.scss';
@import './components/scroll.scss';
@import './components/home.scss';
@import './components/about.scss';
@import './components/contact.scss';
@import './components/sponsors.scss';
@import './components/footer.scss';
@import './components/responsive.scss';

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body
{
    @extend %page;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a
{
  cursor: pointer;
  text-decoration: none;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
