// utilitys
@import './utils/variables.scss';
@import './utils/placeholders.scss';
@import './utils/mixins.scss';

//components
@import './components/header.scss';
@import './components/main.scss';

//pages
@import './pages/pages.scss';

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body
{
    @extend %page;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
